.createPostContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-bottom: 30px;
  background-color: var(--background-color);
  color: var(--text-color);
}

.createPostContainer span {
  display: flex;
  flex-direction: column;
  min-width: 50%;
  margin: 10px 0px;
}

.createPostContainer label {
  margin: auto;
}

.createPostContainer input[type="file"] {
  width: 100%;
  padding-left: 30%;
}

.createPostContainer input,
.createPostContainer textarea {
  border-radius: 8px;
}
.createPostContainer textarea {
  height: 300px;
}

.createPostContainer input {
  height: 30px;
}

.createPostContainer button {
  width: 80px;
  height: 40px;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.createPostContainer button:active {
  background-color: var(--accent-color-3);
}

.error {
  border: 2px solid var(--accent-color-1);
}

@media (max-width: 900px) {
  .createPostContainer span {
    width: 100%;
  }
}
