.createPostContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: c;
  width: 80%;
  background-color: var(--background-color);
  color: var(--text-color);
}

.createPostContainer span {
  display: flex;
  flex-direction: column;
  min-width: 50%;
  margin: 10px 0px;
}

.createPostContainer label {
  margin: auto;
}

.createPostContainer input[type="file"] {
  margin-left: 35%;
}

.createPostContainer input,
.createPostContainer textarea {
  border-radius: 8px;
}
.createPostContainer textarea {
  height: 300px;
}

.createPostContainer input {
  height: 30px;
}

.createPostContainer button {
  width: 80px;
  height: 40px;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.createPostContainer button:active {
  background-color: var(--accent-color-1);
}
